<h3>SENADOR</h3>
<p>id: {{ id }}</p>
<p>Nome: {{ despesasSenador.nomeSenador }}</p>

<h3>DESPESAS TOTAIS</h3>
<div>Aluguel (A): {{ despesaA }}</div>
<div>Divulgação (B): {{ despesaB }}</div>
<div>Aquisição material (C): {{ despesaC }}</div>
<div>Passagens (D): {{ despesaD }}</div>
<div>Contratação (E): {{ despesaE }}</div>
<div>Locomoção (F): {{ despesaF }}</div>
<div>Serviços (G): {{ despesaG }}</div>
<h3>TOTAL</h3>
<div>Total: {{ despesaTotal }}</div>

<div>Teste Despesa A: {{ getDespesaA() }}</div>
