/* You can add global styles to this file, and also import other style files */

app-tic-tac-toe table {
  border-spacing: 0;
  border-collapse: collapse;
}

app-tic-tac-toe td {
  border: 2px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
}

app-movies * {
  font-family: Arial;
}

app-movies table {
  border-spacing: 0;
}

app-movies td {
  border-top: 1px solid;
  padding: 4px;
}

.rating {
  color: darkgoldenrod;
  cursor: pointer;
}

body {
  font-family: Arial;
}

.box {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: aqua;
  border: 2px solid grey;
  margin-right: 1rem;
}
